/* ========================================= */
/* AJUSTE DE CARDS (MOBILE) */
/* ========================================= */
/* Garante que os cards fiquem em 1 coluna em telas menores */
@media (max-width: 767px) { 
    /* Esta regra sobrescreve o 'minmax(350px, 1fr)' definido no _pages.css */
    #projetos-em-destaque {
        grid-template-columns: 1fr; /* Apenas 1 coluna */
        gap: var(--espaco-lg); 
    }
    
    .card-image-container {
        height: 250px; /* Mantém a imagem visível e de bom tamanho em mobile */
    }

    .card-content {
        padding: var(--espaco-lg) var(--espaco-md); /* Ajuste de padding para mobile */
    }
}
